<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Калькулятор</title>

    <link rel="stylesheet" href="assets/css/moongrid.min.css">
    <link rel="stylesheet" href="assets/css/tables.css">
    <link rel="stylesheet" href="assets/css/bricks-calc.css">
</head>

<body>

    <div id="app">

        <div class="container">
            <h2>{{ title }}</h2>

            <div class="row calc-body">
                <div class="col-sm-8">
                    <div class="calc-option_block">
                        <select name="type" id="" v-model="selectSize">
                            <option disabled value="">
                                Размеры (мм.)
                            </option>
                            <option v-for="(item, index) in bricksSizeArr" v-bind:value="item">
                                {{ item.name }}
                            </option>
                        </select>
                        <span class="calc-option_info">Размер (Д*Ш*В) или вид кирпича (мм.)</span>
                    </div>

                    <div class="calc-option_block">
                        <input type="num" v-model="inputPerimeter" placeholder="Длина(м.)">
                        <span class="calc-option_info">Общая длина всех стен (периметр) (м.)</span>
                    </div>
                    <div class="calc-option_block">
                        <input type="num" v-model="inputDegHeight" placeholder="Высота (см.)">
                        <span class="calc-option_info">Высота стен по углам (см.)</span>
                    </div>

                    <div class="calc-option_block">
                        <select name="type" id="" v-model="selectDepth">
                            <option disabled value="">
                                Толщина
                            </option>
                            <option v-for="(item, index) in bricksDepthArr" v-bind:value="item">
                                {{ item.name }}
                            </option>
                        </select>
                        <span class="calc-option_info">Толщина стен</span>
                    </div>

                    <div class="calc-option_block">
                        <select name="type" id="" v-model="selectLiquorDepth">
                            <option disabled value="">
                                Толщина раствора
                            </option>
                            <option v-for="(item, index) in bricksLiquorDepthArr" v-bind:value="item">
                                {{ item.name }}
                            </option>
                        </select>
                        <span class="calc-option_info">Толщина раствора в кладке (мм.)</span>
                    </div>

                    <div class="calc-option_block">
                        <select name="type" id="" v-model="selectGrid">
                            <option disabled value="">
                                Сетка
                            </option>
                            <option v-for="(item, index) in bricksGridArr" v-bind:value="item">
                                {{ item.name }}
                            </option>
                        </select>
                        <span class="calc-option_info">Кладочная сетка</span>
                    </div>

                    <div class="calc-option_block">
                        <input type="num" v-model="inputVoid" placeholder="Пустотность (%)">
                        <span class="calc-option_info">Пустотность кирпича (%)</span>
                    </div>
                </div>

                <div class="col-sm-4 bricks-img_wrapper">
                    <div class="bricks-img_block">
                        <img v-if="!imjSrc" src="assets/img/bricks/01_bricks.jpg">
                        <img v-if="imjSrc" v-bind:src="'assets/img/bricks/' + imjSrc + '.jpg'">
                    </div>
                    <div class="grid-img_block">
                        <img v-if="!imjGrids" src="assets/img/grids/01_grid.jpg">
                        <img v-if="imjGrids" v-bind:src="'assets/img/grids/' + imjGrids + '.jpg'">
                    </div>
                </div>

                <div class="col-sm-12 result-button_block">
                    <div class="button result-button" v-on:click="resultsShow = !resultsShow">Расчитать</div>
                    <span v-if="resultsShow && (!selectSize || !inputPerimeter || !inputDegHeight || !selectDepth)" class="calc-error">Заполните все параметры</span>
                </div>
            </div>

            <transition name="fade">
                <div v-if="resultsShow && selectSize && inputPerimeter && inputDegHeight && selectDepth" class="row calc-results">
                    <div class="col-sm-12">
                        <h3>Расчеты</h3>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="td-name" data-label="Параметр:">Периметр строения</td>
                                    <td class="td-result" data-label="Результат:"> {{ inputPerimeter }} </td>
                                    <td class="td-metr" data-label="Единица измерения:">метров.</td>
                                </tr>
                                <tr>
                                    <td class="td-name" data-label="Параметр:">Общая площадь кладки</td>
                                    <td class="td-result" data-label="Результат:">{{ squareResult }}</td>
                                    <td class="td-metr" data-label="Единица измерения:">м2</td>
                                </tr>
                                <tr>
                                    <td class="td-name" data-label="Параметр:">Толщина стены</td>
                                    <td class="td-result" data-label="Результат:"> {{ depthResult }} </td>
                                    <td class="td-metr" data-label="Единица измерения:">мм.</td>
                                </tr>
                                <tr>
                                    <td class="td-name" data-label="Параметр:">Количество кирпича</td>
                                    <td class="td-result" data-label="Результат:"> {{ numResult }} </td>
                                    <td class="td-metr" data-label="Единица измерения:">шт.</td>
                                </tr>
                                <tr>
                                    <td class="td-name" data-label="Параметр:">Вес 1 кирпича</td>
                                    <td class="td-result" data-label="Результат:"> {{ selectSize.weight }} </td>
                                    <td class="td-metr" data-label="Единица измерения:">кг.</td>
                                </tr>
                                <tr>
                                    <td class="td-name" data-label="Параметр:">Общий вес кирпича</td>
                                    <td class="td-result" data-label="Результат:"> {{ Math.round(selectSize.weight * numResult * 10)/10 }} </td>
                                    <td class="td-metr" data-label="Единица измерения:">кг.</td>
                                </tr>
                                <tr>
                                    <td class="td-name" data-label="Параметр:">Общий объем кирпича</td>
                                    <td class="td-result" data-label="Результат:"> {{ Math.round(numResult * selectSize.volume * 100)/100 }} </td>
                                    <td class="td-metr" data-label="Единица измерения:">м3.</td>
                                </tr>
                                <tr>
                                    <td class="td-name" data-label="Параметр:">Количество кирпича в кубе</td>
                                    <td class="td-result" data-label="Результат:"> {{ selectSize.num3 }} </td>
                                    <td class="td-metr" data-label="Единица измерения:">шт./м3</td>
                                </tr>
                                <tr>
                                    <td class="td-name" data-label="Параметр:">Кол-во раствора на всю кладку</td>
                                    <td class="td-result" data-label="Результат:"> {{ volumeResult }} </td>
                                    <td class="td-metr" data-label="Единица измерения:">м3</td>
                                </tr>
                                <tr>
                                    <td class="td-name" data-label="Параметр:">Примерный вес раствора</td>
                                    <td class="td-result" data-label="Результат:"> {{ volumeResult * 2200 }} </td>
                                    <td class="td-metr" data-label="Единица измерения:">кг.</td>
                                </tr>
                                <tr>
                                    <td class="td-name" data-label="Параметр:">Оптимальная высота стены</td>
                                    <td class="td-result" data-label="Результат:"> {{ wallResult }}  </td>
                                    <td class="td-metr" data-label="Единица измерения:">cм.</td>
                                </tr>
                                <tr>
                                    <td class="td-name" data-label="Параметр:">Кол-во рядов кирпича с учетом швов</td>
                                    <td class="td-result" data-label="Результат:"> {{ rowResult }}  </td>
                                    <td class="td-metr" data-label="Единица измерения:">рядов</td>
                                </tr>
                                <tr>
                                    <td class="td-name" data-label="Параметр:">Кол-во кладочной сетки</td>
                                    <td class="td-result" data-label="Результат:"> {{ gridsResult }} </td>
                                    <td class="td-metr" data-label="Единица измерения:">метров</td>
                                </tr>
                                <tr>
                                    <td class="td-name" data-label="Параметр:">Примерный вес готовых стен</td>
                                    <td class="td-result" data-label="Результат:"> {{ wallWeightResult }} </td>
                                    <td class="td-metr" data-label="Единица измерения:">кг.</td>
                                </tr>
                                <tr>
                                    <td class="td-name" data-label="Параметр:">Нагрузка на фундамент от стен</td>
                                    <td class="td-result" data-label="Результат:"> {{ Math.round(wallWeightResult / (squareResult * 10000)*100)/100 }}  </td>
                                    <td class="td-metr" data-label="Единица измерения:">кг/см2</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </transition>
            <hr>

        </div>
    </div>

    <script src="assets/js/vuejs/vue.js"></script>
    <script src="assets/js/vuejs/bricks-calc.js"></script>

</body>

</html>
